body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

/* CONTENEDOR DE TARJETAS */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* TARJETA */
.card {
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* DETALLE DE RECETA */
#detalle {
    display: none;
    padding: 20px;
    max-width: 900px;
    margin: auto;
}

#detalle img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 20px;
}

#btnVolver {
    background: #ff7b00;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}
